.svg-calculated-icon-dims { width: 92px; height: 78px; }
 .svg-destination-icon-dims { width: 47px; height: 48px; }
 .svg-google-play-dims { width: 107px; height: 35px; }
 .svg-jadoo-black-logo-dims { width: 149px; height: 34px; }
 .svg-jadoo-logo-dims { width: 116px; height: 35px; }
 .svg-payment-icon-dims { width: 47px; height: 48px; }
 .svg-plane-dims { width: 152px; height: 140px; }
 .svg-play-store-dims { width: 100px; height: 35px; }
 .svg-research-icon-dims { width: 47px; height: 48px; }
 .svg-send-mail-icon-dims { width: 70px; height: 70px; }
 .svg-underline-dims { width: 385px; height: 12px; }
