@use 'variables' as var;

// FONTS //
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Vollkorn', serif;

@font-face {
    font-family: 'Poppins', serif;
    src: url(fonts/Poppins-Regular.woff2) format('woff2'),
        url(fonts/Poppins-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Poppins', serif;
  src: url(fonts/Poppins-Medium.woff2) format('woff2'),
      url(fonts/Poppins-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins', serif;
  src: url(fonts/Poppins-Bold.woff2) format('woff2'),
      url(fonts/Poppins-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn', serif;
  src: url(fonts/Vollkorn-Bold.woff2) format('woff2'),
      url(fonts/Vollkorn-Bold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
    font-family: $primary-font, sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    font-weight: 400;
}

h1 {
    font-size: 2.9rem;
    line-height: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 2.9rem;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
    line-height: 2.14rem;
    font-weight: 600;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.14rem;
    font-weight: 500;
}

input {
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 500;
}

.invisible {
  width: 0;
  height: 0;
  position: absolute;
  left: -9000px;
}

.section {
  &__title {
    margin-bottom: 60px;
    font-family: $secondary-font;
    font-size: 3.125rem;
    font-weight: 600;
    color: var.$title-color;
  }
  &__subtitle {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var.$base-text-color;
  }
  &--centred {
    text-align: center;
  }
}
