// MAIN //
$bg-color: #fff;

// COLORS //
$primary-color: #217efd;
$secondary-color: #895bf1;
$warning-color: #F9B959;
$danger-color: #EA3A3D;
$success-color: #1AD598;
$black-color: #050505;
$dark-color: #0B1524;
$light-color: #809FB8;


// GRID //
$container-width: 1170px;
$gap: 30px;
