<section class="section section__book">
  <div class="container book__container">
    <div class="book__text">
      <p class="section__subtitle">Easy and Fast</p>
      <h2 class="section__title">Book your next trip in 3 easy steps</h2>
      <ul class="book__list">
        <li class="book__item book-item book__item--with-icon">
          <h3 class="book-item__heading">Choose Destination</h3>
          <p class="book-item__description">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Urna, tortor tempus. </p>
        </li>
        <li class="book__item book-item book__item--with-icon">
          <h3 class="book-item__heading">Make Payment</h3>
          <p class="book-item__description">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Urna, tortor tempus. </p>
        </li>
        <li class="book__item book-item book__item--with-icon">
          <h3 class="book-item__heading">Reach Airport on Selected Date</h3>
          <p class="book-item__description">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Urna, tortor tempus. </p>
        </li>
      </ul>
    </div>
    <div class="book__prev prev">
      <div class="prev__card trip">
        <img class="trip__image" src="./img/src/trip-to-greece.jpg" alt="Trip To Greece">
        <h3 class="trip__title">Trip To Greece</h3>
        <div class="trip__details">
          <span class="trip__date">14-29 June</span> | <span></span><span class="trip__owner">by Robbin joseph</span>
        </div>
        <div class="trip__options options">
          <ul class="options__list">
            <li class="options__item">
              <svg class="optiong__icon xmlns=" http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <use href="./img/stack/sprite.svg#leaf-icon"></use>
              </svg>
            </li>
            <li class="options__item">
              <svg class="optiong__icon xmlns=" http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <use href="./img/stack/sprite.svg#map-icon"></use>
              </svg>
            </li>
            <li class="options__item">
              <svg class="optiong__icon xmlns=" http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                <use href="./img/stack/sprite.svg#send-icon"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="trip__footer">
          <div class="trip__going">
            <a class="trip__travelers" href="#">24 people going</a>
          </div>
          <div class="trip__like">
            <svg class="trip__like-icon xmlns=" http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 14 14">
              <use href="./img/stack/sprite.svg#like-icon"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="prev__stage stage card">
        <img class="stage__image" src="./img/src/trip-to-rome.jpg" alt="Trip to rome">
        <div class="stage__content">
          <span class="stage__status">Ongoing</span>
          <h4 class="stage__title">Trip to rome</h4>
          <div class="stage__completed completed">
            <p class="completed__status"><span class="completed__percent">40%</span> completed</p>
            <div class="completed__bar progress-bar">
              <div class="progress" style="width: 40%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>