<section class="section partners">
  <div class="container">
    <ul class="partners__list">
      <li class="partners__item">
        <img class="partners__logo" src="../img/src/axion-logo.png" alt="Axion">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="../img/src/jetstar-logo.png" alt="Jetstar">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="../img/src/expedia-logo.png" alt="Expedia">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="../img/src/qantas-logo.png" alt="Qantas">
      </li>
      <li class="partners__item">
        <img class="partners__logo" src="../img/src/alitalia-logo.png" alt="Alitalia">
      </li>
    </ul>
  </div>
</section>