<section class="section section__selling selling">
  <div class="container">
    <p class="section__subtitle section--centred">Top Selling</p>
    <h2 class="section__title section--centred">Top Destinations</h2>
    <ul class="selling__list card">
      <li class="selling__item">
        <div class="card__header">
          <img class="selling__img" src="img/src/rome-img.jpg" alt="Rome">
        </div>
        <div class="card__body selling__body">
          <span class="selling__tour">Rome, Italty</span>
          <span class="selling__price">$5,42k</span>
          <span class="selling__trip-lenght">10 Days Trip</span>
        </div>
      </li>
      <li class="selling__item card">
        <div class="card__header">
          <img class="selling__img" src="img/src/london-img.jpg" alt="London">
        </div>
        <div class="card__body selling__body">
          <span class="selling__tour">London, UK</span>
          <span class="selling__price">$4.2k</span>
          <span class="selling__trip-lenght">12 Days Trip</span>
        </div>
      </li>
      <li class="selling__item card">
        <div class="card__header">
          <img class="selling__img" src="img/src/europe-img.jpg" alt="Europe">
        </div>
        <div class="card__body selling__body">
          <span class="selling__tour">Full Europe</span>
          <span class="selling__price">$15k</span>
          <span class="selling__trip-lenght">28 Days Trip</span>
        </div>
      </li>
    </ul>
  </div>
</section>