<!-- Services block -->
<section class="section section__services services">
	<div class="container">
		<p class="section__subtitle section--centred">CATEGORY</p>
		<h2 class="section__title">We Offer Best Services</h2>
		<ul class="services__list">
			<li class="services__item">
				<img class="services_img" src="" alt="">
				<h3 class="services__title">Calculated Weather </h3>
				<p class="services__description">Built Wicket longer admire do barton vanity itself do in it.</p>
			</li>
			<li class="services__item">
				<img class="services_img" src="" alt="">
				<h3 class="services__title">Best Flights</h3>
				<p class="services__description">Engrossed listening. Park gate sell they west hard for the.</p>
			</li>
			<li class="services__item">
				<img class="services_img" src="" alt="">
				<h3 class="services__title">Local Events</h3>
				<p class="services__description">Barton vanity itself do in it. Preferd to men it engrossed listening. </p>
			</li>
			<li class="services__item">
				<img class="services_img" src="" alt="">
				<h3 class="services__title">Customization</h3>
				<p class="services__description">We deliver outsourced
					aviation services for
					military customers</p>
			</li>
		</ul>
	</div>
</section>