<section class="navbar">
  <div class="navbar__logo logo">
    <a href="#" class="logo__link">
      <img src="img/stack/sprite.svg#jadoo-logo" class="svg-jadoo-logo-dims" alt="jadoo-logo">
    </a>
  </div>
  <nav class="navbar__nav">
    <ul class="navbar__list main-menu">
      <li class="navbar__item"><a href="#" class="navbar__link">Desitnations</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Hotels</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Flights</a></li>
      <li class="navbar__item"><a href="#" class="navbar__link">Bookings</a></li>
    </ul>
    <ul class="navbar__user">
      <li class="navbar__item user__item"><a href="#" class="user__link">Login</a></li>
      <li class="navbar__item user__item"><a href="#" class="user__link">Sign up</a></li>
    </ul>
  </nav>
</section>