<section class="section section__testimonials">
  <div class="container testimonials__container">
    <div class="testimonials__text">
      <p class="section__subtitle">Testimonials</p>
      <h2 class="section__title book__title">What people say about Us</h2>
      <ul class="testimonials__markers markers__list">
        <li class="markers__item"><a class="markers__link" href="#">1</a></li>
        <li class="markers__item"><a class="markers__link" href="#">2</a></li>
        <li class="markers__item"><a class="markers__link" href="#">3</a></li>
      </ul>
    </div>
    <div class="testimonials__items">
      <div class="testimonials__item testimonial testimonial--active">
        <div class="testimonial__author-avatar avatar">
          <img class="avatar__image" src="./img/src/testimonial-author.jpg" alt="Mike Taylor">
        </div>
        <div class="testimonial__content">
          <p>“On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next.
            Of believed or diverted no.”</p>
        </div>
        <div class="testimonial__author author">
          <span class="author__name">Mike Taylor</span>
          <span class="author__company">Lahore, Pakistan</span>
        </div>
      </div>
      <div class="testimonials__item testimonial"></div>
      <div class="testimonial__author-avatar avatar">
        <img class="avatar__image" src="./img/src/testimonial-author.jpg" alt="Mike Taylor">
      </div>
      <div class="testimonial__content">
        <p>“On the Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next.
          Of believed or diverted no.”</p>
      </div>
      <div class="testimonial__author author">
        <span class="author__name">Chris Thomas</span>
        <span class="author__company">CEO of Red Button</span>
      </div>
    </div>
  </div>
  </div>
</section>